// Add here all your customized variables

$g-color-primary: #0067b6 !default;

//
// Colors from One Page Agency
//

//
// Basic Colors

// Main Colors
$g-color-main: #3e393f;

// Primary Color
//$g-color-primary: #fe6466;

// Colors
$g-color-primary-dark-v1: #003B76;

// Custom Color
$g-theme-color-gray-light-v2: #b5b5b5;
$g-theme-color-gray-light-v3: #89848a;
$g-theme-color-gray-light-v4: #f8f8f8;

$g-theme-color-gray-dark-v1: #383339;
$g-theme-color-gray-dark-v2: #3e393f;
$g-theme-color-gray-dark-v3: #504a51;
$g-theme-color-gray-dark-v4: #3f3a40;
